!!! 5
html(lang="en")
  head
    != SocketStream
    title cmview
  body
    #content
      #activity
        h3 Recent activity
        #activitylog
      p#message Attempting to connect to the server over websockets or flashsockets...
